<% provide(:title, "Home") %>
<div class="hero-unit">
	<h3>Crowed sourced approval system</h3>
	<br/>
	<div class="center">
		<div id="placeholder" style="width:850px; height: 400px;"></div>
		<%= link_to "Create an event", signup_path, class: "btn btn-large btn-primary" %>
	</div>
</div>
