<h1>New event</h1>

<form id="new-event" name="event">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="private"> private:</label>
    <input type="text" name="private" id="private" value="<%= private %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Event" />
  </div>

</form>

<a href="#/index">Back</a>